<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

<!--    配置user请求路径-->
    <servlet>
        <servlet-name>user</servlet-name>
     <servlet-class>com.maoyan.service.UserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>user</servlet-name>
        <url-pattern>/user/login</url-pattern>
        <url-pattern>/user/register</url-pattern>
        <url-pattern>/user/logout</url-pattern>
        <url-pattern>/user/updatainfo</url-pattern>
        <url-pattern>/user/updataPwd</url-pattern>
    </servlet-mapping>

<!-- 配置movie-->
    <servlet>
        <servlet-name>movielist</servlet-name>
        <servlet-class>com.maoyan.service.MovieServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>movielist</servlet-name>
        <url-pattern>/movielist/findAll</url-pattern>
        <url-pattern>/movielist/findMovieById</url-pattern>
        <url-pattern>/movielist/findMoviesByType</url-pattern>
    </servlet-mapping>

<!--    配置 schedule-->
    <servlet>
        <servlet-name>schedule</servlet-name>
        <servlet-class>com.maoyan.service.ScheduleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>schedule</servlet-name>
        <url-pattern>/schedule/findScheduleByCinemaAndMovie</url-pattern>
        <url-pattern>/schedule/findScheduleById</url-pattern>
    </servlet-mapping>

<!--    配置orderservlet-->
    <servlet>
        <servlet-name>order</servlet-name>
        <servlet-class>com.maoyan.service.OrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>order</servlet-name>
        <url-pattern>/order/buyTickets</url-pattern>
        <url-pattern>/order/findOrderByUserName</url-pattern>
    </servlet-mapping>












    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.js</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.css</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.jpg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.JPG</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.jpeg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.png</url-pattern>
    </servlet-mapping>

</web-app>