<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--接口路径-->
<mapper namespace="com.maoyan.mapper.MovieMapper">

    <select id="selectAll" resultType="com.maoyan.pojo.Movie">
        select * from movie
    </select>
    <select id="selectOrderby" resultType="com.maoyan.pojo.Movie">
    select  * from movie order by movie_score desc limit 0,9
    </select>

    <select id="selectBystate" resultType="com.maoyan.pojo.Movie">
        select  * from movie WHERE movie_state = 0
    </select>
    <select id="selectByID" resultType="com.maoyan.pojo.Movie">
        select *from movie where movie_id =#{movie_id};
    </select>

</mapper>