<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--接口路径-->
<mapper namespace="com.maoyan.mapper.MovieMapper">

    <select id="selectAll" resultType="com.maoyan.pojo.Movie">
        select * from movie WHERE movie_state = 1
    </select>
    <select id="selectOrderby" resultType="com.maoyan.pojo.Movie">
    select  * from movie order by movie_boxOffice desc
    </select>

    <select id="selectBystate" resultType="com.maoyan.pojo.Movie">
        select  * from movie WHERE movie_state = 0
    </select>
    <select id="selectByID" resultType="com.maoyan.pojo.Movie">
        select *from movie where movie_id =#{movie_id};
    </select>
    <select id="selectByType" resultType="com.maoyan.pojo.Movie">
<!--        select  * from movie-->
<!--          <where>-->
<!--            <if test="movie_type!=null">movie_type = #{movie_type}</if>-->
<!--            <if test="movie_country!=null">movie_country = #{movie_country}</if>-->
<!--          </where>-->
<!--            <if test="movie_score!=null">-->
<!--                order by movie_score desc-->
<!--            </if>-->


    </select>

    <select id="selectAllByType" resultType="java.util.Map">
        select  movie_type,movie_boxOffice from movie  GROUP BY movie_type,movie_boxOffice
    </select>

</mapper>