<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--接口路径-->
<mapper namespace="com.maoyan.mapper.OrderMapper">
    <insert id="insertOrder" parameterType="com.maoyan.pojo.Order">
        INSERT INTO orderinfo VALUES
      (
              #{order.order_id},#{order.user_id},#{order.schedule_id},
              #{order.order_position},#{order.order_state},#{order.order_price},
              #{order.order_time}
        )
    </insert>

    <select id="selectAll" resultType="com.maoyan.pojo.Order">
        select * from orderinfo ;

    </select>
    <select id="selectByid" resultType="java.util.Map">
        select distinct `orderinfo`.`order_time` AS `order_time`,`orderinfo`.`order_id` AS `order_id`,`movie`.`movie_cn_name` AS `movie_cn_name`,`movie`.`movie_picture` AS `movie_picture`,`cinema`.`cinema_name` AS `cinema_name`,`hall`.`hall_name` AS `hall_name`,`orderinfo`.`order_position` AS `order_position`,`schedule`.`schedule_startTime` AS `schedule_startTime`,`orderinfo`.`order_price` AS `order_price`,`orderinfo`.`order_state` AS `order_state` from ((((`movie` join `schedule` on((`movie`.`movie_id` = `schedule`.`movie_id`))) join `orderinfo` on((`schedule`.`schedule_id` = `orderinfo`.`schedule_id`))) join `cinema`) join `hall` on(((`cinema`.`cinema_id` = `hall`.`cinema_id`) and (`schedule`.`hall_id` = `hall`.`hall_id`))))
              where (`orderinfo`.`user_id` = #{user_id}) order by order_time desc
    </select>
    <update id="updataOrder">
       update orderinfo set order_state =0 where order_id = #{order_id}
    </update>
    <!--    徐主任的-->

    <delete id="updateOrder">
        update orderinfo set order_state = 2 where order_id = #{oreder_id}
    </delete>


    <select id="findAllOrdersPage" resultType="java.util.Map">
        SELECT DISTINCT
            orderinfo.order_id,
            `user`.user_name,
            `schedule`.schedule_id,
            cinema.cinema_name,
            orderinfo.order_position,
            orderinfo.order_state,
            orderinfo.order_price,
            movie.movie_cn_name,
            hall.hall_name,
            orderinfo.order_time,
            schedule.schedule_startTime
        FROM
            cinema
                INNER JOIN
            hall
            ON
                cinema.cinema_id = hall.cinema_id
                INNER JOIN
            `schedule`
            ON
                hall.hall_id = `schedule`.hall_id
                INNER JOIN
            movie
            ON
                `schedule`.movie_id = movie.movie_id
                INNER JOIN
            orderinfo
            ON
                `schedule`.schedule_id = orderinfo.schedule_id
                INNER JOIN
            `user`
            ON
                orderinfo.user_id = `user`.user_id
        ORDER BY orderinfo.order_time desc
        limit 0,20
    </select>
    <select id="findAllRefundOrder" resultType="java.util.Map">
        SELECT DISTINCT
            orderinfo.order_id,
            `user`.user_name,
            `schedule`.schedule_id,
            cinema.cinema_name,
            orderinfo.order_position,
            orderinfo.order_state,
            orderinfo.order_price,
            movie.movie_cn_name,
            hall.hall_name,
            orderinfo.order_time,
            schedule.schedule_startTime
        FROM
            cinema
                INNER JOIN
            hall
            ON
                cinema.cinema_id = hall.cinema_id
                INNER JOIN
            `schedule`
            ON
                hall.hall_id = `schedule`.hall_id
                INNER JOIN
            movie
            ON
                `schedule`.movie_id = movie.movie_id
                INNER JOIN
            orderinfo
            ON
                `schedule`.schedule_id = orderinfo.schedule_id
                INNER JOIN
            `user`
            ON
                orderinfo.user_id = `user`.user_id
        where orderinfo.order_state =0
        ORDER BY orderinfo.order_time desc
        limit 0,20
    </select>

    <!--	订单查询-->
    <select id="selectorder" resultType="java.util.Map" >
        SELECT DISTINCT
        orderinfo.order_id,
        `user`.user_name,
        `schedule`.schedule_id,
        cinema.cinema_name,
        orderinfo.order_position,
        orderinfo.order_state,
        orderinfo.order_price,
        movie.movie_cn_name,
        hall.hall_name,
        orderinfo.order_time,
        schedule.schedule_startTime
        FROM
        cinema
        INNER JOIN
        hall
        ON
        cinema.cinema_id = hall.cinema_id
        INNER JOIN
        `schedule`
        ON
        hall.hall_id = `schedule`.hall_id
        INNER JOIN
        movie
        ON
        `schedule`.movie_id = movie.movie_id
        INNER JOIN
        orderinfo
        ON
        `schedule`.schedule_id = orderinfo.schedule_id
        INNER JOIN
        `user`
        ON
        orderinfo.user_id = `user`.user_id
        <where>
            <if test="username!=null and username!=''">
                user.user_name = #{username}
            </if>
        </where>
        limit 0,20
    </select>
</mapper>