<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--接口路径-->
<mapper namespace="com.maoyan.mapper.ScheduleMapper">


    <select id="selectAll" resultType="com.maoyan.pojo.Schedule">
        select *  from schedule;
    </select>

    <select id="selectByid" resultType="java.util.HashMap" >
        select  * from schedule,hall where schedule.hall_id=hall.hall_id
            and hall.cinema_id = #{cinema_id} and movie_id =#{movie_id}
    </select>
    <select id="selectByScheduleid" resultType="com.maoyan.pojo.Schedule">
        select * from schedule where schedule_id = #{schedule_id}
    </select>
    <select id="selectByUserid" resultType="com.maoyan.pojo.Schedule" parameterType="string">
        SELECT * FROM schedule WHERE schedule_id in
         (SELECT schedule_id FROM orderinfo WHERE user_id = #{user_id} and order_state =1)
    </select>
    <select id="selectSchedule" resultType="java.util.Map">
        SELECT DISTINCT `schedule`.schedule_startTime,
                        `schedule`.schedule_price,
                        movie.movie_cn_name,
                        cinema.cinema_name,
                        hall.hall_name
        FROM hall
                 INNER JOIN
             `schedule`
             ON
                         hall.hall_id = `schedule`.hall_id AND
                         hall.hall_id = `schedule`.hall_id
                 INNER JOIN
             movie
             ON
                 movie.movie_id = `schedule`.movie_id
                 INNER JOIN
             cinema
             ON
                 cinema.cinema_id = hall.cinema_id
    </select>

</mapper>