<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--接口路径-->
<mapper namespace="com.maoyan.mapper.ScheduleMapper">


    <select id="selectAll" resultType="com.maoyan.pojo.Schedule">
        select *  from schedule;
    </select>

    <select id="selectByid" resultType="java.util.HashMap" >
        select  * from schedule,hall where schedule.hall_id=hall.hall_id
            and hall.cinema_id = #{cinema_id} and movie_id =#{movie_id}
    </select>
    <select id="selectByScheduleid" resultType="com.maoyan.pojo.Schedule">
        select * from schedule where schedule_id = #{schedule_id}
    </select>

</mapper>