<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--接口路径-->
<mapper namespace="com.maoyan.mapper.UserMapper">

    <select id="select" resultType="com.maoyan.pojo.User">
        select * from user where  user_name = #{username} and  user_pwd =#{password}
    </select>
    <select id="selectByUserName" resultType="com.maoyan.pojo.User">
        select *from user where user_name = #{username}
    </select>
    <insert id="insertUser" >
        insert into user(user_id,user_name,user_pwd) values (#{uid},#{username},#{password});
    </insert>
    <update id="updataemail">
         UPDATE user  SET  user_email = #{user_email}  where user_name = #{user_name}
    </update>
    <update id="updataPwd">
        UPDATE user  SET  user_pwd = #{user_pwd}  where user_id = #{user_id}
    </update>

</mapper>